$font-about:"Raleway", sans-serif;
.about {
  margin: auto;
  width:auto;
  max-width: 1500px;
    height: 700px;
    padding-left: 30px;
    background-color: #00B0B0;
    background-image: url(../Foto/img2_b.png);
    background-repeat: no-repeat;
  background-size: cover;
    // border: 2px solid red;
    // display: flex;
    // align-self: center;
    // align-items: center;
    // justify-content: center;
    
  
  .about__head {
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    font-family: $font-about;
    height: 90px;
    margin-top: 160px;
  
    // border: 2px solid red;
   
  }
  
  @media (max-width: 1100px) 
  {
    .about__head {
      font-size: 60px;
      margin-top: 60px;
    } 
  }
  .about__text {
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 300;
    font-family: $font-about;
    margin-top: 35px;
    
    // padding-right: 90px;
    // border: 2px solid red;
   
  
  div {
    padding-top: 20px;
  }
  }
  
  @media (max-width: 1100px) 
  {
    .about__text {
      font-size: 15px;
      padding-right: 10px;
      margin-top: 15px;
    } 
  }
  
}
@media (max-width: 1100px) 
  {
    .about {
    
    background-image: url(../Foto/img2_b.png), radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #00a09f 100%);
    background-repeat: no-repeat;
    background-size: 1100px auto;
  background-position: bottom;
 
    } 
    .about__head {
      color: #262626;
    } 

  }
  @media (max-width: 800px) 
  {
    .about {
    
    
    background-image: url(../Foto/img2_b.png), radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #00a09f 100%);
    background-repeat: no-repeat;
    background-size: 800px auto;
 
 
    } 
  }
  @media (max-width: 600px) 
  {
    .about {
    
   background-image: url(../Foto/img2_b.png), radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #00a09f 100%);
    background-size: 600px auto;
    background-position: left bottom;
    
    .about__head {
     
      margin-top: 30px;
    }
 
    } 
  }